@tailwind base;
@tailwind components;
@tailwind utilities;

#navButton {
    background-color: initial;
    background-image: linear-gradient(-180deg, teal, rgb(204 251 241));
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    padding: 0 20px;
    width: 50px;
}