<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/output.css">
        <title>Document</title>
      </head>
      
{{ $TopicsAndSession := . }}
<body onload="test('{{ .SessionUser }}');" class="h-screen w-screen bg-newcolor2">
  <header >
    <div class="fixed flex justify-around w-full h-16 shadow-md bg-newcolor1">
        <h1 id="h1Title"
            class="relative uppercase my-[20px] big:left-[-15vw] 2xl:left-[-15vw] xl:left-[-12vw]  font-bold text-center text-newcolor4">
            CS forums</h1>
        <div class="grid w-96 self-center items-center grid-cols-3">
            <div id="logbutton" class="hidden">
                <button  onclick="openLogin()" class=" font-medium rounded-lg shadow-xl flex relative w-24 big:right-[-30vw] 2xl:right-[-35vw] xl:right-[-35vw] sm:right-[-36vw] right-[-36vw] cursor-pointer focus:ring-blue-300 text-sm text-center  text-white bg-newcolor4 hover:bg-color3 focus:ring-2 focus:outline-none">
                    <p class="w-fit text-xs uppercase p-3">login</p>
                    <svg class="relative top-2 right-1" fill="#000000" width="24px" height="24px" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M20,21V3H13a1,1,0,0,1,0-2h8a1,1,0,0,1,1,1V22a1,1,0,0,1-1,1H13a1,1,0,0,1,0-2ZM2,12a1,1,0,0,0,1,1H14.586l-2.293,2.293a1,1,0,1,0,1.414,1.414l4-4a1,1,0,0,0,0-1.414l-4-4a1,1,0,1,0-1.414,1.414L14.586,11H3A1,1,0,0,0,2,12Z" />
                    </svg>
                </button>
            </div>
           
            <div id="profbutton" class="hidden">
                <a href="../your-profil">
                    <button 
                    class=" font-medium flex rounded-lg relative w-24 right-[-30vw] cursor-pointer focus:ring-blue-300 text-sm text-center ext-white bg-newcolor4 hover:bg-color3 focus:ring-2 focus:outline-none">
                    <p class="w-fit text-xs uppercase p-3 text-white">{{ .SessionUser }}</p>
                    <svg class="relative top-2 right-1" width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g id="style=fill">
                            <g id="profile">
                                <path id="vector (Stroke)" fill-rule="evenodd" clip-rule="evenodd"
                                    d="M6.75 6.5C6.75 3.6005 9.1005 1.25 12 1.25C14.8995 1.25 17.25 3.6005 17.25 6.5C17.25 9.3995 14.8995 11.75 12 11.75C9.1005 11.75 6.75 9.3995 6.75 6.5Z"
                                    fill="#000000" />
                                <path id="rec (Stroke)" fill-rule="evenodd" clip-rule="evenodd"
                                d="M4.25 18.5714C4.25 15.6325 6.63249 13.25 9.57143 13.25H14.4286C17.3675 13.25 19.75 15.6325 19.75 18.5714C19.75 20.8792 17.8792 22.75 15.5714 22.75H8.42857C6.12081 22.75 4.25 20.8792 4.25 18.5714Z"
                                fill="#000000" />
                              </g>
                            </g>
                          </svg>
                        </button>
                      </a>
                    </div>
                    
                    
                  </div>
                </div>
              </header>
              
              <main>
                {{ $TopicsAndSession := . }}
                <div id="container" class="flex ">
                  

        
        <div id="list" class="flex flex-col justify-start items-center sm:ml-[-20vw] w-[100vw] h-[100vw] mt-[20vh] ">
          <p class="text-4xl font-bold mt-[-8vh] sm:mb-[12vh] mb-[5vh] max-sm:text-center">Welcome to CS Forums</p> 

          <div class="sm:fixed sm:top-[20vh] sm:right-[15vw] max-sm:mb-[15vh]">
            <div class="justify-center bg-newcolor6 text-black sm:w-[15vw] w-[70vw] text-center font-semibold text-2xl rounded-lg h-[30vh] ">
              Categories
              <div class="bg-newcolor6 text-black flex flex-col font-normal text-xl w-full ">
                <div class="bg-newcolor5 rounded-lg w-5/6 self-center mb-2">
                  <a href="topics/category=blabla">blabla</a>
                </div>
                <div class="bg-newcolor5 rounded-lg w-5/6 self-center mb-2">
                  <a href="test1">Dinosaurs</a>
                </div>
                <div class="bg-newcolor5 rounded-lg w-5/6 self-center mb-2">
                  <a href="test1">Watches</a>
                </div>
                <div class="bg-newcolor5 rounded-lg w-5/6 self-center mb-2">
                  <a href="test1">Sneakers</a>
                </div>
                <div class="bg-newcolor5 rounded-lg w-5/6 self-center mb-2">
                  <a href="test1">Gardening</a>
                </div>
                <div class="bg-newcolor5 rounded-lg w-5/6 self-center mb-2">
                  <a href="test1">Video Games</a>
                </div>
                <div class="bg-newcolor5 rounded-lg w-5/6 self-center mb-2">
                  <a href="test1">Climbing</a>
                </div>
              </div>
            </div>
          </div> 
          
          {{ range $k, $v := .Topics }}
          <div class='w-[50vw] flex items-center justify-center mb-[1vh]'>  
              <div class="rounded-xl border p-5 shadow-md sm:w-9/12 w-[90vw] bg-white">
              <div class="flex w-full items-center justify-between border-b pb-3">
                <div class="flex items-center space-x-3">
                  <div class="text-md font-bold text-slate-700"><a href="../profil/{{ .Owner }}">{{ $v.Owner }}</a></div>
                  <a href="/topics/category={{ $v.Category }}">c/{{ $v.Category }}</a>
                </div>
                <div class="flex items-center space-x-8">
                  <div class="text-xs text-neutral-500">{{ $v.CreationDate }}</div>
                </div>
              </div>
          
              <div class="mt-4 mb-6">
                <div class="mb-3 text-xl font-bold truncate"><a href="../messages/{{ .Name }}">{{ $v.Name }}</a></div>

                <div id="toedit{{ $k }}" class="truncate flex text-base text-neutral-600 "><a href="../messages/{{ .Name }}">{{ $v.FirstMessage }}</a></div>
                <div id="edit{{ $k }}" class="hidden">
                  <div class="bg-newcolor5 flex text-base text-neutral-600 "><a id="enter{{ $k }}" contenteditable="true" href="/topics/{{ .Name }}">{{ $v.FirstMessage }}</a></div>
                </div>
                
               
              </div>
          
              <div>
                <div class="flex items-center justify-between text-slate-500">
                  <div class="flex">
                    <a class="mr-2 z-50" href="../messages/{{ .Name }}">
                      <div class="flex cursor-pointer items-center transition hover:text-slate-600">
                          <span class="text-slate-900 inline-flex relative">
                            <img src="../css/comments.svg" width="21px" height="21px">
                            {{ $v.NmbPosts }}
                          </span>
                      </div>
                    </a>
                    <form class="flex" method="POST">
                      <button class="mr-2" type="submit" value="{{ .Uuid }}" name="like">
                        <div class="flex cursor-pointer items-center transition hover:text-slate-600">
                          {{ if $v.IsLiked }}
                            <img src="../css/like_plein.svg" width="21px" height="21px">
                          {{ else }}
                            <img src="../css/videPlan de travail 1.svg" width="21px" height="21px">
                          {{ end }}
                          <span class="text-slate-900">{{ $v.Likes }}</span>
                        </div>
                      </button>

                      <button type="submit" value="{{ .Uuid }}" name="dislike">
                        <div class="flex cursor-pointer items-center transition hover:text-slate-600">
                          {{ if $v.IsDisliked }}
                            <img src="../css/dislike_plein.svg" width="21px" height="21px">
                          {{ else }}
                          <img src="../css/dislike_vide.svg" width="21px" height="21px">
                          {{ end }}
                        </div>
                      </button>
                    </form>
                    <a>
                      <div onclick="edit()" class="flex cursor-pointer items-center transition hover:text-slate-600 ml-[52vh]">
                        <img src="../css/edit.svg" width="21px" height="21px">
                        
                      </div>
                    </a>
                    <a>
                      <div  class="flex cursor-pointer items-center transition hover:text-slate-600 ml-[2vh]">
                        <img src="../css/corbeille.svg" width="21px" height="21px">
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{ end }}
                    



        
        
    </main>
    <div class="hidden" id="login">
      <div class="fixed rounded-lg sm:top-1/2 sm:left-1/2 sm:-translate-y-1/2 sm:-translate-x-1/2 top-[15vh] left-[12vw] big:h-[400px] 2xl:h-[400px] 2xl:w-[18vw] xl:w-[22vw] lg:w-[28vw] max-sm:w-[80vw] bg-newcolor4 flex flex-col items-center justify-center ">
          <button class="pl-[30vh] pb-2 text-xl font-medium" onclick="closeRegister()">X</button>
          <p>Login</p>
          <form method="post" class="mt-8 mb-4">
          <div class="mb-4">
            <label for="userEmail" class="sr-only">Email address</label>
            <input name="input_loginusername" class="border-solid border border-gray-400 rounded px-2 py-3" type="text" id="userEmail" placeholder="Email address / Username" required />
          </div>
        <div class="mb-[5vh]">
          <label for="userEmail" class="sr-only">Password</label>
          <input name="input_loginpassword" class="border-solid border border-gray-400 rounded px-2 py-3" type="password" id="userPass" placeholder="Password" required />
      </div>
          <button onClick="refreshPage()" class="rounded-lg bg-newcolor3 hover:bg-gray-600 text-white font-bold w-full py-3 mb-4" type="submit">Sign in</button>
          <p class="rounded-lg bg-newcolor3 hover:bg-gray-600 text-white font-bold w-full py-3 text-center" onclick="openRegister()">Register</p>
          <!-- <button class="rounded-lg bg-newcolor3 hover:bg-gray-600 text-white font-bold w-full py-3 " type="submit" onclick="openRegister()">Click here to register</button> -->
          </form>
      </div>
    </div>

        <div class="hidden" id="register">
          <div class="fixed rounded-lg sm:top-1/2 sm:left-1/2 sm:-translate-y-1/2 sm:-translate-x-1/2 top-[15vh] left-[12vw] big:h-[300px] 2xl:h-[300px] 2xl:w-[18vw] xl:w-[22vw] lg:w-[28vw] max-sm:w-[80vw] bg-newcolor4 flex flex-col items-center justify-center ">
            <button class="pl-[30vh] pb-2 text-xl font-medium" onclick="closeRegister()">X</button>
            <p>Register</p>
            <form method="POST" class="mt-8 mb-4">
              <div class="mb-4">
                <label for="userEmail" class="sr-only">Email address</label>
                <input name="input_mail" class="border-solid border border-gray-400 rounded px-2 py-3" type="email" id="userEmail" placeholder="Email address" required/>
              </div>
              <div>
                <p class="text-center rounded-lg bg-newcolor3 hover:bg-gray-600 text-white font-bold w-full py-3" onclick="openRegister2()">Continue</p>
                <!-- <button class="rounded-lg bg-newcolor3 hover:bg-gray-600 text-white font-bold w-full py-3" onclick="openRegister2()">Continue</button> -->
              </div>
          </div>
        </div>

        <div class="hidden" id="register2">
          <div class="fixed rounded-lg sm:top-1/2 sm:left-1/2 sm:-translate-y-1/2 sm:-translate-x-1/2 top-[15vh] left-[12vw] big:h-[400px] 2xl:h-[400px] 2xl:w-[18vw] xl:w-[22vw] lg:w-[28vw] max-sm:w-[80vw] max-sm:h-[420px] bg-newcolor4 flex flex-col items-center justify-center ">
            <button class="pl-[30vh] pb-2 text-xl font-medium" onclick="closeRegister()">X</button>
            <p>Register</p>
            <div class="mb-4">
              <label for="userEmail" class="sr-only">Username</label>
              <input name="input_username" class="border-solid border border-gray-400 rounded px-2 py-3" type="Username" id="userName" placeholder="Username" required />
            </div>
              <div class="flex mb-4 justify-center">
                <label for="userEmail" class="sr-only">Birthday</label>
                <input name="input_birthDay" type="date" id="birthday" name="birthday" required>
              </div>
                <div class="mb-4">
                  <label for="userPass" class="sr-only">Password</label>
                  <input name="input_password" class="border-solid border border-gray-400 rounded px-2 py-3" type="password" id="userPass" placeholder="Password" required />
                </div>
                  <div class="mb-4">
                    <label for="userPass2" class="sr-only">Confirm your password</label>
                    <input name="input_password2" class="border-solid border border-gray-400 rounded px-2 py-3" type="password" id="userPass" placeholder="Confirm your password" required />
                  </div>
                    <button class="bg-newcolor3 rounded-lg hover:bg-gray-600 text-white font-bold w-full py-3" type="submit" onclick="closeRegister()">Register</button>
              </form>
            </div>
        </div>

    <script src="../css/popups.js"></script>
</body>
</html>


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/topics/category=info">info</a>
    <a href="/topics/category=blabla">blabla</a>
</body>
</html> -->

<script src="../css/popups.js"></script>