<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    profil
    <br>
    Username: 
    {{ .Username }}
    <br>
    CreationDate:
    {{ .CreationDate }}
    <br>
    BirthDate:
    {{ .BirthDate }}
    <br>
    Admin:
    {{ .Admin }}
    <br>
    <br>
    <a href="../index">back to index</a>

    <br>
    {{ $User := .}}
    created topic:
    {{ range $k, $v := .TopicsCreated }}
    <a href="../topics/{{ $v }}">{{ $v }}</a>
    <br>
    {{ end }}
    <br>
    last messages:
    {{ range $k, $v := .MessagesSend }}
    {{ $v }}
    <br>
    {{ end }}
</body>
</html>