<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/output.css">
        <title>Document</title>
      </head>
      
{{ $TopicsAndSession := . }}
<body onload="test('{{ .SessionUser }}');" class="h-screen w-screen bg-newcolor2">
<header >
  <div class="fixed flex justify-around w-full h-16 shadow-md bg-newcolor1">
      <h1 id="h1Title"
          class="relative uppercase my-[20px] big:left-[-15vw] 2xl:left-[-15vw] xl:left-[-12vw] font-bold text-center text-newcolor4">
          CS forums</h1>
      <div class="grid w-96 self-center items-center grid-cols-3">
        <!-- <p class="font-bold text-center relative 2xl:left-[-85vh] xl:left-[-70vh]">c/{{ .Category }}</p> -->
          <div id="logbutton" class="hidden">
              <button  onclick="openLogin()" class=" font-medium rounded-lg shadow-xl flex relative w-24 big:right-[-30vw] 2xl:right-[-35vw] xl:right-[-35vw] sm:right-[-36vw] right-[-36vw] cursor-pointer focus:ring-blue-300 text-sm text-center  text-white bg-newcolor4 hover:bg-color3 focus:ring-2 focus:outline-none">
                  <p class="w-fit text-xs uppercase p-3">login</p>
                  <svg class="relative top-2 right-1" fill="#000000" width="24px" height="24px" viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                          d="M20,21V3H13a1,1,0,0,1,0-2h8a1,1,0,0,1,1,1V22a1,1,0,0,1-1,1H13a1,1,0,0,1,0-2ZM2,12a1,1,0,0,0,1,1H14.586l-2.293,2.293a1,1,0,1,0,1.414,1.414l4-4a1,1,0,0,0,0-1.414l-4-4a1,1,0,1,0-1.414,1.414L14.586,11H3A1,1,0,0,0,2,12Z" />
                  </svg>
              </button>
          </div>
         
          <div id="profbutton" class="hidden">
              <a href="../your-profil">
                  <button 
                  class=" font-medium flex rounded-lg relative w-24 right-[-30vw] cursor-pointer focus:ring-blue-300 text-sm text-center ext-white bg-newcolor4 hover:bg-color3 focus:ring-2 focus:outline-none">
                  <p class="w-fit text-xs uppercase p-3 text-white">{{ .SessionUser }}</p>
                  <svg class="relative top-2 right-1" width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <g id="style=fill">
                          <g id="profile">
                              <path id="vector (Stroke)" fill-rule="evenodd" clip-rule="evenodd"
                                  d="M6.75 6.5C6.75 3.6005 9.1005 1.25 12 1.25C14.8995 1.25 17.25 3.6005 17.25 6.5C17.25 9.3995 14.8995 11.75 12 11.75C9.1005 11.75 6.75 9.3995 6.75 6.5Z"
                                  fill="#000000" />
                              <path id="rec (Stroke)" fill-rule="evenodd" clip-rule="evenodd"
                                  d="M4.25 18.5714C4.25 15.6325 6.63249 13.25 9.57143 13.25H14.4286C17.3675 13.25 19.75 15.6325 19.75 18.5714C19.75 20.8792 17.8792 22.75 15.5714 22.75H8.42857C6.12081 22.75 4.25 20.8792 4.25 18.5714Z"
                                  fill="#000000" />
                          </g>
                      </g>
                  </svg>
              </button>
              </a>
          </div>

          
      </div>
  </div>
</header>
    
    <main>
        <div id="container" class="flex align-start  ">
          <div id="blurrr" class="hidden backdrop-blur-sm  fixed top-0 left-0 w-[10000px] h-[10000px]"></div>
            <!-- <div id="list" class="flex justify-self-center pr-[70vh] h-[90vh] pt-[10vh] ">
                <div class="shadow-xl bg-newcolor1 h-[80vh] w-[100vh]">
                    <div class="flex w-[100vh] bg-newcolor3 h-[5vh]">
                        <div class="flex flex-row w-[100vh]">
                            <div class="w-[57vh] h-[100vh] ">
                                <p class="pt-3 pl-6 text-newcolor1">Title</p>
                            </div>
                            <div class="w-[10vh] h-[100vh] ">
                                <p class="pt-3 text-center text-newcolor1">Likes</p>
                            </div>
                            <div class="w-[10vh] h-[100vh] ">
                                <p class="pt-3 text-center text-newcolor1">Owner</p>
                            </div>
                            <div class="w-[13vh] h-[100vh] ">
                                <p class="pt-3 text-center text-newcolor1">Date</p>
                            </div>
                            <div class="w-[10vh] h-[100vh] ">
                                <p class="pt-3 text-center text-newcolor1">Posts</p>
                            </div>
                        </div>
                    </div>
                    this div below will be ranged over to create list of topics
                    <div class="flex flex-row w-[100vh]"> 
                        <div class="w-[57vh] ">
                            <p class="pt-3 truncate pl-6">Test</p>
                        </div>
                        <div class="w-[10vh]  ">
                            <p class="pt-3 text-center">1.9 million</p>
                        </div>
                        <div class="w-[10vh]  ">
                            <p class="pt-3 text-center">Alex</p>
                        </div>
                        <div class="w-[13vh]  ">
                            <p class="pt-3 text-center">11/02/2023</p>
                        </div>
                        <div class="w-[10vh] ">
                            <p class="pt-3 text-center">1933</p>
                        </div>
                    </div>
                    
                    
                    
                    
                </div>
            </div> -->
            
            
            <div id="list" class="flex flex-col justify-start items-center big:ml-[30vh] 2xl:ml-[20vh] xl:ml-[20vh] big:w-[100vh] 2xl:w-[90vh] h-[100vh] mt-[10vh] ">
              {{ range $k, $v := .Topics }}
                <div class='w-[100vh] flex items-center justify-center mb-[1vh]'>  
                    <div class="rounded-xl border p-5 shadow-md w-9/12 bg-white">
                    <div class="flex w-full items-center justify-between border-b pb-3">
                      <div class="flex items-center space-x-3">
                        <div class="text-md font-bold text-slate-700"><a href="../profil/{{ .Owner }}">{{ $v.Owner }}</a></div>
                        <!-- <a href="/topics/category={{ $v.Category }}">c/{{ $v.Category }}</a> -->
                      </div>
                      <div class="flex items-center space-x-8">
                        <div class="text-xs text-neutral-500">{{ $v.CreationDate }}</div>
                      </div>
                    </div>
                
                    <div class="mt-4 mb-6">
                      <div class="mb-3 text-xl font-bold truncate"><a href="../messages/{{ .Name }}">{{ $v.Name }}</a></div>

                      <div id="toedit{{ $k }}" class="truncate flex text-base text-neutral-600 "><a href="../messages/{{ .Name }}">{{ $v.FirstMessage }}</a></div>
                      <div id="edit{{ $k }}" class="hidden">
                        <div class="bg-newcolor5 flex text-base text-neutral-600 "><a id="enter{{ $k }}" contenteditable="true" href="/topics/{{ .Name }}">{{ $v.FirstMessage }}</a></div>
                      </div>
                      
                     
                    </div>
                
                    <div>
                      <div class="flex items-center justify-between text-slate-500">
                        <div class="flex">
                          <a class="mr-2 z-50" href="../messages/{{ .Name }}">
                            <div class="flex cursor-pointer items-center transition hover:text-slate-600">
                                <span class="text-slate-900 inline-flex relative">
                                  <img src="../css/comments.svg" width="21px" height="21px">
                                  {{ $v.NmbPosts }}
                                </span>
                            </div>
                          </a>
                          <form class="flex" method="POST">
                            <button class="mr-2" type="submit" value="{{ .Uuid }}" name="like">
                              <div class="flex cursor-pointer items-center transition hover:text-slate-600">
                                {{ if $v.IsLiked }}
                                  <img src="../css/like_plein.svg" width="21px" height="21px">
                                {{ else }}
                                  <img src="../css/videPlan de travail 1.svg" width="21px" height="21px">
                                {{ end }}
                                <span class="text-slate-900">{{ $v.Likes }}</span>
                              </div>
                            </button>

                            <button type="submit" value="{{ .Uuid }}" name="dislike">
                              <div class="flex cursor-pointer items-center transition hover:text-slate-600">
                                {{ if $v.IsDisliked }}
                                  <img src="../css/dislike_plein.svg" width="21px" height="21px">
                                {{ else }}
                                <img src="../css/dislike_vide.svg" width="21px" height="21px">
                              </div>
                            </button>
                          </form>
                          <div id="edit{{ $k }}" onclick="edit('{{ $k }}')" class="flex cursor-pointer items-center transition hover:text-slate-600 ml-[52vh]">
                            <img src="../css/edit.svg" width="21px" height="21px">
                          </div>
                          <form method="POST">
                            <div  class="flex cursor-pointer items-center transition hover:text-slate-600 ml-[2vh]">
                              <button type="submit" name="delete" value="{{ $v.Uuid }}">
                                <img src="../css/corbeille.svg" width="21px" height="21px">
                              </div>
                            </form>
                            {{ end }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {{ end }}
                
                
                <!-- <div class="shadow-lg w-[90vh] h-[12vh] bg-newcolor1 mt-[3vh] rounded-md">
                    
                </div>
                <div class="shadow-lg w-[90vh] h-[12vh] bg-newcolor1 mt-[3vh] rounded-md">
                </div>
                <div class="shadow-lg w-[90vh] h-[12vh] bg-newcolor1 mt-[3vh] rounded-md">
                </div>
                <div class="shadow-lg w-[90vh] h-[12vh] bg-newcolor1 mt-[3vh] rounded-md">
                </div>
                <div class="shadow-lg w-[90vh] h-[12vh] bg-newcolor1 mt-[3vh] rounded-md">
                </div>
                <div class="shadow-lg w-[90vh] h-[12vh] bg-newcolor1 mt-[3vh] rounded-md">
                </div>
                <div class="shadow-lg w-[90vh] h-[12vh] bg-newcolor1 mt-[3vh] rounded-md">
                </div> -->
            </div>
            <div id="filter" class="fixed top-[15vh] right-[18vh]  h-[5vh] w-[40vh] ">
                <form>   
                    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only :">Search</label>
                    <div class="relative">
                        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                            <svg class="w-5 h-5 text-gray-500 " fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                        </div>
                        <input name="searchbar" type="search" id="default-search" class="block p-4 pl-10 w-full text-sm text-gray-900 bg-newcolor1 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 " placeholder="Search for topics" required>
                        <button type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-newcolor4 hover:bg-color3 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">Search</button>
                    </div>
                </form>
            </div>
            <div id="search" class="fixed top-[25vh] right-[12vh]  h-[90vh] ">
                <!-- <div class="flex flex-col align-center w-[45vh] bg-color1 h-[38vh]">
                    <div class="shadow-xl flex w-[45vh] bg-newcolor3 h-[5vh] ">
                        <p class="pt-3 pl-6 text-newcolor1">Add new topic</p>
                       
                    </div>
                    <textarea class="shadow-xl h-[4vh] bg-newcolor2 placeholder:text-slate-900" rows='2' placeholder='  Title:'></textarea>
                    <textarea class=" shadow-xl h-[30vh] bg-newcolor2 placeholder:text-slate-900" rows='10' placeholder='  Write your comment here (Optional):'></textarea>
                    <button class="shadow-md rounded-lg w-24 h-[5vh] bg-newcolor4 fixed top-[55vh] right-[14vh] text-white hover:bg-color3 font-medium">Submit</button>
                </div> -->
                <div  class="max-w-2xl mx-auto">
                    <form method="POST">
                    <div class="shadow-lg mb-4 w-full bg-gray-50 rounded-lg border border-gray-200 ">
                        <div class="flex rounded-t-lg justify-between items-center py-2 px-3 bg-newcolor3">
                            <div class="flex flex-wrap items-center bg-newcolor3">
                                <div class="flex items-center space-x-1 sm:pr-4 w-[50vh]" >
                                    <textarea name="topic_name" id="lock" onfocus="openLoginIf()"  rows="1" class="resize-none block px-0 w-full text-sm text-gray-800 bg-newcolor3 border-0 " placeholder="Title" required></textarea>
                                    <button type="button" class="p-2 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100">
                                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z" clip-rule="evenodd"></path></svg>
                                    </button>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <div class="py-2 px-3 bg-white rounded-b-lg ">
                            <textarea  name="firstMessage" id="lock1" onfocus="openLoginIf()"  rows="8" class="resize-none block px-0 w-full text-sm text-gray-800 bg-white border-0 focus:ring-0" placeholder="Write an article..."></textarea>
                        </div>
                    </div>
                    <button type="submit" class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-newcolor4 rounded-lg focus:ring-4 focus:ring-blue-200  hover:bg-color3">
                        Publish post
                    </button>
                    </form>
                </div>
                
            </div>

            <div  class="fixed top-[11vh] big:left-[18vh] 2xl:left-[5vh] xl:left-[5vh]">
              <form method="POST">
                <select id="filter" onchange="javascript: if(this.value != '0') this.form.submit();" name="filter" class="w-[20vh] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
                  <option selected>Filter by</option>
                  <option value="lastPost">Last Post</option>
                  <option value="nmbPosts">Number of posts</option>
                  <option value="likes">Likes</option>
                  <input type="submit" value="submit" name="filter" hidden="true">
                </select>
              </div>
            </form>
    
            
        </div>
        
        
    </main>
    <div class="hidden" id="login">
      <div class="fixed rounded-lg top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 big:h-[40vh] 2xl:h-[44vh] 2xl:w-[35vh] xl:w-[40vh] bg-newcolor4 flex flex-col items-center justify-center ">
          <button class="pl-[30vh] pb-2 text-xl font-medium" onclick="closeRegister()">X</button>
          <p>Login</p>
          <form method="post" class="mt-8 mb-4">
          <div class="mb-4">
            <label for="userEmail" class="sr-only">Email address</label>
            <input name="input_loginusername" class="border-solid border border-gray-400 rounded px-2 py-3" type="text" id="userEmail" placeholder="Email address / Username" required />
          </div>
        <div class="mb-[5vh]">
          <label for="userEmail" class="sr-only">Password</label>
          <input name="input_loginpassword" class="border-solid border border-gray-400 rounded px-2 py-3" type="password" id="userPass" placeholder="Password" required />
      </div>
          <button onClick="refreshPage()" class="rounded-lg bg-newcolor3 hover:bg-gray-600 text-white font-bold w-full py-3 mb-4" type="submit">Sign in</button>
          <p class="rounded-lg bg-newcolor3 hover:bg-gray-600 text-white font-bold w-full py-3 text-center" onclick="openRegister()">Register</p>
          <!-- <button class="rounded-lg bg-newcolor3 hover:bg-gray-600 text-white font-bold w-full py-3 " type="submit" onclick="openRegister()">Click here to register</button> -->
          </form>
      </div>
    </div>

        <div class="hidden" id="register">
          <div class="fixed rounded-lg top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 2xl:h-[25vh] 2xl:w-[35vh] xl:w-[40vh] bg-newcolor4 flex flex-col items-center justify-center  ">
            <button class="pl-[30vh] pb-2 text-xl font-medium" onclick="closeRegister()">X</button>
            <p>Register</p>
            <form method="POST" class="mt-8 mb-4">
              <div class="mb-4">
                <label for="userEmail" class="sr-only">Email address</label>
                <input name="input_mail" class="border-solid border border-gray-400 rounded px-2 py-3" type="email" id="userEmail" placeholder="Email address" required/>
              </div>
              <div>
                <p class="text-center rounded-lg bg-newcolor3 hover:bg-gray-600 text-white font-bold w-full py-3" onclick="openRegister2()">Continue</p>
                <!-- <button class="rounded-lg bg-newcolor3 hover:bg-gray-600 text-white font-bold w-full py-3" onclick="openRegister2()">Continue</button> -->
              </div>
          </div>
        </div>

        <div class="hidden" id="register2">
          <div class="fixed rounded-lg top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 2xl:h-[42vh] xl:h-[52vh] 2xl:w-[35vh] xl:w-[40vh] bg-newcolor4 flex flex-col items-center justify-center  ">
            <button class="pl-[30vh] pb-2 text-xl font-medium" onclick="closeRegister()">X</button>
            <p>Register</p>
            <div class="mb-4">
              <label for="userEmail" class="sr-only">Username</label>
              <input name="input_username" class="border-solid border border-gray-400 rounded px-2 py-3" type="Username" id="userName" placeholder="Username" required />
            </div>
              <div class="flex mb-4 justify-center">
                <label for="userEmail" class="sr-only">Birthday</label>
                <input name="input_birthDay" type="date" id="birthday" name="birthday" required>
              </div>
                <div class="mb-4">
                  <label for="userPass" class="sr-only">Password</label>
                  <input name="input_password" class="border-solid border border-gray-400 rounded px-2 py-3" type="password" id="userPass" placeholder="Password" required />
                </div>
                  <div class="mb-4">
                    <label for="userPass2" class="sr-only">Confirm your password</label>
                    <input name="input_password2" class="border-solid border border-gray-400 rounded px-2 py-3" type="password" id="userPass" placeholder="Confirm your password" required />
                  </div>
                    <button class="bg-newcolor3 rounded-lg hover:bg-gray-600 text-white font-bold w-full py-3" type="submit" onclick="closeRegister()">Register</button>
              </form>
            </div>
        </div>

    <script src="../css/popups.js"></script>
</body>
</html>